<template>
  <div>
    <div v-if="stocks.length > 0">
      <app-stock v-for="stock in stocks" :stock="stock" :key="stock.id"></app-stock>
    </div>
    <div v-else class="alert alert-warning">There is no stocks to show you. To see: buy some stock.</div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Stock from "./Stock.vue";
export default {
  computed: {
    ...mapGetters({
      stocks: "stockPortfolio"
    })
  },
  components: { appStock: Stock }
};
</script>