<template>
  <div>
    <div class="jumbotron">
      <h1>Trade or View your Portfolio</h1>
      <p>You may Save & Load your Data</p>
      <p>Click on 'End Day' to begin a New Day and change stock's rates!</p>
    </div>
    <hr>
    <h3>
      <span class="label label-info">Your Funds: {{ funds | currency }}</span>
    </h3>
  </div>
</template>

<script>
export default {
  computed: {
    funds() {
      return this.$store.getters.funds;
    }
  }
};
</script>

